# Authentication Secret
JWT_SECRET=CLIENT_SECRET_KEY

MONGO_URL=mongodb+srv://pardeepsingla3344:Pardeep_3344@cluster0.hydm2cg.mongodb.net/?retryWrites=true&w=majority
# MONGO_URL=mongodb+srv://pardeepsingla3344:Pardeep_3344@cluster0.hydm2cg.mongodb.net/?appName=Cluster0
PORT=5000

CLOUDINARY_CLOUD_NAME=dbcjiqct9
CLOUDINARY_API_KEY=753422127824215
CLOUDINARY_API_SECRET=ylegF9yyr_TU8rh_Y_viJ7B3rwQ

PAYPAL_CLIENT_ID=AeAWWnzFmThh6yeUpUlueaCBg-sxLHgOJ5Yp3WGg33uTmn1aGNLCIT6r0NqcmUi3lcHTco40E6I7Y5oe
PAYPAL_CLIENT_SECRET=EIAcb0gcj-J6ZKyf-cpULqX9vbWnrfydmzx2Mnpq-yY7z8qnoyhSA_Yg8gzonVT1cxM7fkkF97JMPClC

RAZORPAY_KEY_ID=rzp_test_Su29oAZo5qZFMg
RAZORPAY_KEY_SECRET=FKkccDYigR4n4kUA1Mcd8kMI


CLIENT_BASE_URL=http://localhost:5173